PORT= port number 

NODE_ENV= (development or production) the type

DATABASE_URL= POSTGRESQL Db url

api_key= api key that contains alphanumerals 

JWT_SECRET= Alphanumeric JWT Secret of Project

JWT_EXPIRES_IN= duration of JWT Token Expiry(Preferably in days)

OPENROUTER_API_KEY = API Key Generated After Creating account on OpenRouter Website